{{> topHeader }}

<div class="index_header">
  <div class="header_logo nh_logo">
    <img src="/images/instagram.jpg" alt="Instagram">
    <hr>
    <span>Instagram</span>
  </div>
  <div class="right">
    <a href="/welcome">Home</a>
    <a href="/about">About</a>
    <a href="/developer">Developer</a>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
  </div>
</div>
