{{> topHeader }}

<div class="index_header">
  <div class="header_logo h_logo">
    <img src="/images/instagram.jpg" alt="Instagram">
    <hr>
    <span>Instagram</span>
  </div>
  <div class="right">
    <a href="/">Home</a>
    <a href="/profile/{{session.username}}">Profile</a>
    <a href="/Logout">Logout</a>
  </div>
</div>
