{{> nHeader}}

<div class="notes_wrapper">
  <div class="welcome_div error_div">
    <div class="error_info">
      <span>Oops, the page you're looking for does not exist!!</span>
    </div>
    <img src="/images/error.svg" alt="">
    <div class="error_bottom">
      <a href="/welcome" class="sec_btn error_home">Go to home</a>
      <a href="/login" class="pri_btn error_login">Wanna login?</a>
    </div>
  </div>
</div>

{{> footer}}
