{{#if loggedIn}}
  {{> yHeader}}
{{ else }}
  {{> nHeader}}
{{/if}}

<div class="registered">
  <span>A reactive React-Instagram-Clone with some additional features developed with MERN stack.</span>
</div>

{{> footer}}
