{{> nHeader }}

<div class="notes_wrapper">

  <div class="log_sign">
    <a href="/signup" class="pri_btn">Need an account?</a>
  </div>

  <div class="register cua">
    <div class="display_text">
      <span>Get started again</span>
    </div>
    <form class="form_login">
      <input type="text" name="username" value="" class="l_username" autofocus required spellcheck="false" autocomplete='false' placeholder='Username'>
      <input type="password" name="password" value="" class="l_password" id='l_password' required placeholder='Password'>
      <span class="show_psswrd s_p_l">
        <i class="fas fa-lock"></i>
      </span>
      <input type="submit" name="" value="Login To Continue" class="l_submit">
    </form>
    <div class="forgot_psswrd">
      <a href="forgot-password" class="a_pri" alt="Forgot your password">Forgot your password?</a>
    </div>
  </div>

</div>

{{> quickLogin}}

{{> footer }}
