// POST IT
.post{
  position: fixed;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  background: $ff;
  width: 400px;
  border-radius: 3px;
  z-index: 2;
  transition: all .1s ease-in-out;

  & .add_filters{
    position: absolute !important;
    background: $ff;
    right: -239px;
    width: 218px !important;
    z-index: 3;
    padding: 10px;
    border-top-right-radius: 2px;
    height: 409px;
    border-bottom-right-radius: 2px;

    & .add_filters_main{
      margin-top: 10px;
      margin-left: 10px;

      & .filter_div{
        display: inline-block;
        padding: 10px;
        margin-right: 7px;
        margin-bottom: 8px;
        border-radius: 2px;
        text-align: center;
        cursor: pointer;
        border: 1px solid $ff;

        &:hover {
          border: 1px solid #f5f5f5;
        }

        &:nth-of-type(2n){
          margin-right: 0px;
        }

        & img{
          width: 80px;
        }

        & span{
          display: block;
          font-weight: 600;
        }

      }

    }

  }

  & .p_top{
    padding: 7px;
    background: $third-border;
    height: 35px;
    border-bottom: 1px solid $ee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    & .p_info{
      position: relative;
      display: inline-block;
      width: 93%;
      height: 35px;

      & span{
        position: relative;
        font-size: 14px;
        top: -38%;
        margin-left: 5px;
        display: inline-block;
        font-weight: 600;
      }

      & img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: inline-block;
      }

    }

    & .loc_text{
      position: absolute;
      right: 14px;
      top: 14px;
      font-size: 14px;
      font-weight: 600;
    }

  }

  & .p_main{
    margin-top: 10px;
    margin-bottom: 4px;

    & textarea{
      width: 92%;
      height: 66px !important;
      font-size: 14px;
      word-break: break-word;
      padding: 7px;
      border: 1px solid $ff;
      border-radius: 2px;
      margin-left: 7px;
    }

    & .i_p_img{
      margin-top: 10px;
      height: 200px;

      & img{
        position: relative;
        left: 10px;
        max-height: 200px;
        max-width: 380px;
      }
    }

    & label {
      position: relative;
      top: 140px;
      left: 126px;
      padding: 6px 18px;
      font-size: 14px;
    }

  }

  & .search_followings {
    font-size: 13px;

    & .p_add_taggings {
      padding: 0 5px;
      width: 391px;

      & input[type='text'] {
        width: 94%;
        font-size: 13px;
      }

    }

    & .p_tagging_list {
      left: 5px;
      font-size: 13px;
      max-height: 145px;
    }

  }

  & .p_tagging{
    margin-top: 6px;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;

    & .p_taggings{
      background: $fb;
      border: 1px solid $ee;
      padding: 3.5px 7px;
      border-radius: 2px;
      margin-left: 5px;
      margin-bottom: 5px;
      font-weight: 600;
      cursor: no-drop;
      color: $d_light;

      &:hover{
        background: lightslategray;
        color: $ff;
        border: 1px solid lightslategray;
      }
    }

  }

  & .p_bottom{
    padding: 8px 5px 8px 5px;
    margin-top: 6px;
    border-top: 1px solid $ee;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    justify-content: space-between;
    // margin-top: 10px;

    & .p_tag{
      position: relative;
      width: 100px;

      & span{
        position: relative;
        display: inline-block;
        padding: 2px;
        height: 24px;
        border-radius: 2px;
        cursor: pointer;
        border: 1px solid $ff;
        margin-right: 5px;

        &:hover{
          background: $second_border;
          border: 1px solid $ee;
        }

        &:last-of-type{
          margin-right: 0px;
        }
      }

      & .p_span_toggle{
        background: $second_border;
        border: 1px solid $ee;
      }

    }

    & .p_act{
      position: relative;

      & a{
        padding: 5px 18px;
        font-weight: 600;
        display: inline-block;
        margin-right: 5px;
      }

    }

  }

}

// POSTS
.posts{
  position: relative;
  margin-top: 10px;
  padding: 12px 10px 10px 10px;
  @include inst;

  & .post_share_info {
    border-bottom: 1px solid $ee;
    padding: 0px 0px 8px 0px;
    position: relative;
    top: -3px;
    margin-bottom: 10px;
    font-size: 13px;
    color: $d_light;

    & a{
      color: $dark;
      font-weight: bold;
      font-size: 14px;
      margin-left: 2px;

      &:hover{
        text-decoration: underline;
      }
    }

    & span:last-of-type{
      position: absolute;
      right: 0px;
      color: $d_light;
    }

  }

  & .p_i{
    display: flex;

    & .p_i_img{
      float: left;

      & > img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }

    & .p_i_1 {
      float: left;
      width: 80%;
      position: relative;
      left: 8px;

      &::after{
        content: "";
        clear: both;
        display: block;
      }

      & > a, & .to_grp_name {
        font-size: 14px;
        color: $dark;
        outline: none;
        font-weight: 600;
        cursor: pointer;

        &:hover{
          text-decoration: underline;
        }

        &:focus{
          text-decoration: underline;
        }
      }

      & span{
        font-size: 13px;
        color: $d_light;
        position: relative;
        margin-top: 2px;
      }

      & .p_i_1_title {
        display: block;
      }

      & .its_grp_post {
        display: inline-block;

        & .to_grp_arrow {
          display: inline-block !important;
          height: 22px !important;
          margin: 0px !important;
          top: 8px !important;
          margin-left: -2px !important;
          transform: rotate(90deg);
        }
      }


    }

    & .p_i_2{
      position: absolute;
      right: 10px;
      color: $d_light;
      display: flex;

      & .p_time{
        position: relative;
        margin-right: 10px;
        margin-top: 1px;
      }

      & div.p_h_opt{

        & .exp_p_menu{
          position: relative;
          display: inline-block;
          height: 26px;
          border-radius: 2px;
          cursor: pointer;
        }

      }

    }

    & .p_options{
      top: 48px;
      right: 7px;
      position: absolute;

      &::before{
        content: "";
        background: $ff;
        width: 11px;
        height: 11px;
        top: -6px;
        position: absolute;
        border-top: 1px solid #DCDFE1;
        transform: rotate(45deg);
        border-left: 1px solid #DCDFE1;
        right: 9px;
        z-index: -1;
      }

      & a{
        font-size: 13px;
        padding: 4px 10px;
      }

    }



  }

  & .p_o {
    margin-top: 12px;

    & .p_actual {
      position: relative;

      & .p_abt {
        word-break: break-word;
        width: 97%;
        font-size: 14px;
      }

      & .p_img{
        max-width: 468px;
        cursor: pointer;
      }

      & .p_tag_icon {
        display: inline-block;
        position: absolute;
        bottom: 8px;
        height: 28px;
        left: 4px;
        color: $oo;
        background: $ff;
        border-radius: 50%;
        cursor: pointer;
        transition: all .02s ease-in-out;

        &:hover {
          transform: scale(1.1, 1.1);
        }

        & i {
          font-size: 28px;
        }
      }

    }

  }

  & hr{
    margin-top: 7px;
    border-top: 1px solid #f5eded;

    &.img_d_hr{
      margin-top: 12px !important;
    }

  }

  & .p_a{
    position: relative;
    margin-top: 10px;
    display: flex;

    & .p_do{
      float: left;

      & > div{
        color: $d_light;
        position: relative;
        margin-right: 9px;
        display: inline-block;

        & > span{
          color: $d_light;
          position: relative;
          display: inline-block;
          cursor: pointer;
        }

      }

      & span:hover{
        color: $dark;
        transform: scale(1.1);
      }

    }

    & .p_did{
      float: left;
      position: absolute;
      right: 0px;

      &::after{
        content: "";
        clear: both;
        display: block;
      }

      & span{
        background: $second_border;
        padding: 5px 10px;
        text-align: center;
        line-height: 2;
        color: $d_light;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 7px;

        &:hover{
          background: $fb;
          padding: 4px 9px;
          border: 1px solid $ee;
        }

      }

    }


  }

  & .p_comments{
    position: relative;
    display: block;
    margin-top: 10px;
    border-radius: 3px;
    padding: 5px;
    color: $d_light;
    text-align: center;
    border: 1px solid $ee;
    cursor: pointer;

    &:hover{
      background: $fb;
      border: 1px solid $ee;
    }

  }

  & .p_cit{
    display: inline-block;
    position: relative;
    margin-top: 12px;
    width: 100%;
    color: $d_light;
    display: flex;

    & .p_cit_img{
      position: relative;
      height: 40px;

      & img{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        position: relative;
      }
    }

    & .p_cit_main{
      display: flex;
      position: relative;
      width: 100%;
      border: 1px solid $ee;
      margin-left: 7px;
      padding: 5px 5px 5px 8px;
      border-radius: 2px;

      & .p_cit_teaser {
        cursor: text;
        width: 87%;
      }

      & .p_cit_tool {
        position: absolute;
        display: flex;
        top: 7px;
        right: 3px;

        & span, & label {
          display: inline-block;
          height: 24px;
          cursor: pointer;

          & i {
            font-size: 22px;
          }

        }

      }

    }

  }

  // comments
  & .comments_div{
    margin-top: 10px;
    position: relative;

    & .comments{
      margin-top: 12px;
      position: relative;

      & .comments_avatar{
        width: 30px;
        float: left;
        border-radius: 2px;
      }

      & .comments_content{
        position: relative;
        display: inline-block;
        width: 90%;
        margin-left: 5px;

        & a.comments_user{
          color: $dark;
          font-weight: 600;

          &:hover {
            text-decoration: underline;
          }
        }

        & p{
          display: block;
          word-wrap: break-word;
        }

        & .comments_img{
          display: block;
          width: 200px;
          position: relative;
          margin-top: 3px;
          cursor: pointer;
        }

        & .comments_sticker{
          display: block;
          width: 64px;
          position: relative;
          margin-top: 3px;
        }

        & .comments_bottom {
          margin-top: 5px;

          & .comments_time{
            margin-bottom: 5px;
            color: $d_light;
            font-size: 13px;
          }
        }

        & .comment_tools{
          position: absolute;
          display: inline-block;
          right: 0px;
          top: 0px;
          display: none;

          & span{
            display: inline-block;
            color: $d_light;
            height: 17px;
            padding: 3px;
            margin-left: 3px;
            cursor: pointer;

            &:hover{
              background: $header_border;
              color: $dark;
            }

            & i{
              font-size: 17px;
            }
          }

        }

      }

    }

    & .my_comment::before{
      content: "";
      width: 2px;
      height: 31px;
      position: absolute;
      background: blue;
      left: -10px;
      top: 0px;
    }

  }

}

// EDIT POST
.edit_post{
  width: 380px;

  & .e_p_bottom{
    margin-top: 1px;
  }
}

// VIEW POST
.view_senapati {
  margin-bottom: 30px;
}
