$a: #2895F1;
$family: 'Open Sans', 'Roboto', Tahoma, arial, sans-serif;
$dark: #1b2733;
$fb: #fbfbfb;
$ff: #fff;
$oo: #000;
$ee: #eee;
$pric: #1b9be9;
$d_light: #66757f;
$header: #f9f9f9;
$header_border: #f7f5f5;
$second_border: #f7f9fa;
$third-border: #f6f7f9;
$light_shadow: rgba(0, 0, 0, .1);
